@use "../mixins";

@include mixins.hide-hud {
	#sidebar {
		display: none !important;
		transform: translateX(150%);
	}
}

#sidebar {
	@include mixins.hide-animation;
}

@include mixins.global-tablet {
	#ui-right > #sidebar {
		width: var(--sidebar-width) !important;
	}
}

@include mixins.global-mobile {
	#ui-right > #sidebar {
		background: rgb(0 0 0 / 80%);
		height: var(--view-height);
		flex-direction: column;
		margin: 0;
		padding: 0;
		width: 100%;

		&.collapsed {
			height: unset;

			#sidebar-tabs .item {
				display: none;
			}
		}

		#sidebar-content {
			flex: 1;
			width: 100vw;
			margin-left: 0;
		}

		#sidebar-tabs {
			min-width: 100vw;
			font-size: 2em;

			> .collapse {
				display: none;
			}

			.pf2e-ui & > .item {
				flex-basis: 2em !important;
				height: 2em !important;
			}

			menu {
				flex-direction: row;
				flex: 0 0 100%;
				justify-content: space-around;
			}
		}
	}
}
